<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
        &copy; 2021 Kano Kwai Laarne &middot;
        <a href="/privacy.html" target="blank">Privacy verklaring</a>
        &middot;
        <adress>
            <script type="text/javascript" src={{ "assets/js/webmasterscript.js" | relative_url }}></script>
        </adress>
    </p>
    <script src={{ "/assets/js/bootstrap/jquery.min.js" | relative_url}}></script>
    <script src={{ "/assets/js/bootstrap/bootstrap.min.js" | relative_url}}></script>
    <script src={{ "/assets/js/bootstrap/popper.min.js" | relative_url}}></script>
    <script src={{ "/assets/js/smoothslide.js" | relative_url}}></script>
</footer>