<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66650127-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'UA-66650127-1');
  </script>
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="Keywords" content="judo laarne sport" />
  <meta name="description" content="Welkom op de website van Judo en aerobic club Kano Kwai Laarne" />
  <link rel="icon" href={{ "/assets/images/kkl-logo.png" | relative_url }} />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet"
  type="text/css" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href={{ "/assets/css/custom.css" | relative_url}} />
  <link href={{ "/assets/css/carousel.css" | relative_url}} rel="stylesheet" />
</head>