<header>
    <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark" style="background-color: #000000;">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html">Kano Kwai Laarne</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                {% assign links = site.data.navigation %}
                {% for link in links %}
                    {% assign class = nill %}
                    {% if page.url contains link.url %}
                        {% assign class = 'active' %}
                    {% endif %}
                    {% if link.sublinks %}
                        <li class="nav-item dropdown {{ class }}"> 
                            <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}{{ link.url }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for sublink in link.sublinks %}
                                    <a class="dropdown-item" href="{{ site.baseurl }}{{sublink.url}}">{{ sublink.title}}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item {{ class }}">
                            <a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>