body {
  font-family: 'Montserrat';
  padding-top: 50px;
  padding-bottom: 50px;
  color: #1d1f21;
  background-color: #fdfdfd;
}

footer {
  padding-top: 120px;
}

a {
  color: #449ccf;
}

h1 {
  font-family: 'Staatliches';
}

h1.featurette-heading {
  font-size: 6em;
  margin-bottom: 1em;
  margin-top: 1em;
}

h1.title {
  font-size: 8em;
}

h2 {
  font-family: 'Staatliches';
}

h2 {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

nav {
  font-family: 'Staatliches';
  font-size: 1em;
}

.row {
  color: #1d1f21;
}

.lead {
  color: #1d1f21;
}

.heading {
  color: #1f1f21;
}

.featurette > img {
  max-width: 500px;
  max-height: 500px;
}

.featurette-heading {
  color: #1d1f21;
}

hr.featurette-divider {
  border: 0; 
  height: 1px; 
/*  background: #ff0c00; */
  background-image: linear-gradient(to right, #fdfdfd, #2626264d, #fdfdfd);
}

.bg-dark {
  background-color: #1d1f21 !important;
}
/*
 * Custom button styling
*/
.btn-primary {
  border-color: #81a2be;
  background-image: -webkit-linear-gradient(top, #81a2be 0%, #81a2be 100%);
  background-image: -o-linear-gradient(top, #81a2be 0%, #81a2be 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#81a2be), to(#81a2be));
  background-image: linear-gradient(to bottom, #81a2be 0%, #81a2be 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff81a2be', endColorstr='#ff81a2be', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #81a2be;
  background-position: 0 -15px;
}

.btn-primary:active,
.btn-primary.active {
  border-color: #81a2be;
  background-color: #81a2be;
}

.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #81a2be;
  background-image: none;
}

.fill {
  display: block;
  min-height: 100%;
  min-width: 100%;;
  overflow: hidden;
  object-fit: cover;
}
iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
}
.slider-size {
height: 400px; /* This is your slider height */
}
