<html>
<body>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
        &copy; 2021 Kano Kwai Laarne &middot;
        <a href="privacy.html" target="blank">Privacy verklaring</a>
        &middot;
        <adress>
            <script type="text/javascript" src="js/webmasterscript.js"></script>
        </adress>
    </p>
    <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
</body>
</html>